<div class="mb-6">
  <h3 class="text-center">My Account</h3>
  <%= link_to edit_employer_path(view.current_employer), class: "btn btn-link p-centered" do %>
    Update Company Profile
  <% end %>
  <%= link_to 'Sign out', destroy_employer_session_path, method: :delete, class: "btn btn-link p-centered" %>
</div>
<div class="my-job-listings">
  <div class="job-listings-header my-2 text-center">
    <h3>My Job Listings</h3>
  </div>
  <%= link_to new_job_listing_path, class: "btn btn-primary p-centered" do %>
    <i class="icon icon-plus"></i>
    Add a new job listing
  <% end %>
  <% if view.job_listings? %>
    <%= render partial: "my_job_listing", collection: view.job_listings, as: :job_listing %>
  <% else %>
    <%= render partial: "no_employer_job_listings" %>
  <% end %>
</div>
