<%#= render partial: "search", locals: {search_text: view.search_text} %>
<div class="columns">
  <div class="joblisting col-12 mx-2">
    <div class="employer-info container">
      <div class="employer-info">
        <div class="employer-info__avatar__container">
          <%= image_tag view.avatar_url, class: "avatar avatar-xl employer-info__avatar", alt: view.employer_name, title: view.employer_name %>
        </div>
        <div class="employer-info__details">
          <div class="h2 mb-1"> <%= view.employer_name %></div>
          <div class="my-1"> <%= view.location %></div>
          <% if !view.is_own_listing?(current_employer) %>
            <div class="mt-2">
              <% if view.has_contact_url? %>
                <%= link_to "Apply Now", view.contact_url, class: "btn btn-tertiary", id: "#{dom_id(view.job_listing)}-apply-url" %>
              <% else %>
                <%= mail_to "#{view.contact_email}", "Apply Now", class: "btn btn-tertiary", id: "#{dom_id(view.job_listing)}-apply-email" %>
              <% end %>
            </div>
            <% if view.employer_num_job_listings > 1 %>
              <%= link_to "More jobs from this company", job_listings_path(employer_id: view.employer_id), class: "btn btn-secondary mt-2 badge", :"data-badge" => view.employer_num_job_listings %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="job-basics my-6">
      <div class="text-bold h3"><%= view.title %></div>
      <div class="h4 mt-2"><%= view.salary %></div>
      <div class="mt-2">
        Posted <%= time_ago_in_words(view.created_at) %> ago
      </div>
    </div>
    <div class="description mt-2">
      <%= view.description %>
    </div>
    <% if !view.is_own_listing?(current_employer) %>
      <%= render partial: "apply_button" %>
    <% end %>
  </div>
</div>
