<%= form_with(model: view.employer) do |form| %>
  <%= view.form_group(self, form, :name) do %>
    <%= form.label :name, "Company Name", class:"form-label" %>
    <%= form.text_field :name, class:"form-input" %>
    <%= view.errors_hint_tag(form, :name) %>
  <% end %>
  <%= view.form_group(self, form, :avatar) do %>
    <%= form.label :avatar, "Logo", class:"form-label" %>
    <%= image_tag view.employer_avatar_url(current_employer), class: "avatar avatar-lg mb-2" %>
    <%= form.file_field :avatar, class:"form-input" %>
  <% end %>
  <%= view.form_group(self, form, :email) do %>
    <%= form.label :email, class:"form-label" %>
    <%= form.text_field :email, class:"form-input " %>
    <%= view.errors_hint_tag(form, :email) %>
  <% end %>
  <%= view.form_group(self, form, :password) do %>
    <%= form.label :password, class:"form-label " %>
    <%= form.password_field :password, class:"form-input " %>
    <%= view.errors_hint_tag(form, :password) %>
  <% end %>
  <%= view.form_group(self, form, :password_confirmation) do %>
    <%= form.label :password_confirmation, "Confirm:", class:"form-label " %>
    <%= form.password_field :password_confirmation, class:"form-input " %>
    <%= view.errors_hint_tag(form, :password_confirmation) %>
  <% end %>
  <div class="submit my-4">
    <%= submit_tag 'Update Account', class: 'btn btn-primary' %>
  </div>
<% end %>
