<%= form_with(model: employer, local: true) do |form| %>
  <% if employer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employer.errors.count, "error") %> prohibited this employer from being saved:</h2>
      <ul>
        <% employer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, "Company Name", class:"form-label" %>
    <%= form.text_field :name, class:"form-input " %>
  </div>
  <div class="form-group">
    <%= form.label :email, class:"form-label" %>
    <%= form.text_field :email, class:"form-input " %>
  </div>
  <div class="form-group">
    <%= form.label :password, class:"form-label " %>
    <%= form.text_field :password, class:"form-input " %>
  </div>
  <div class="actions">
    <%= form.submit "Create Account", class:"btn btn-primary" %>
  </div>
<% end %>
