<%= form_with(model: presenter.employer, local: true) do |form| %>
  <%= form_group(form, :name) do %>
    <%= form.label :name, "Company Name", class:"form-label" %>
    <%= form.text_field :name, class:"form-input " %>
    <%= errors_hint_tag(form, :name) %>
  <% end %>
  <%= form_group(form, :email) do %>
    <%= form.label :email, class:"form-label" %>
    <%= form.text_field :email, class:"form-input " %>
    <%= errors_hint_tag(form, :email) %>
  <% end %>
  <%= form_group(form, :password) do %>
    <%= form.label :password, class:"form-label " %>
    <%= form.password_field :password, class:"form-input " %>
    <%= errors_hint_tag(form, :password) %>
  <% end %>
  <%= form_group(form, :password_confirmation) do %>
    <%= form.label :password_confirmation, "Confirm:", class:"form-label " %>
    <%= form.password_field :password_confirmation, class:"form-input " %>
    <%= errors_hint_tag(form, :password_confirmation) %>
  <% end %>
  <div class="submit my-4">
    <%= submit_tag 'Update Account', class: 'btn btn-primary' %>
  </div>
<% end %>
