<%= form_with(model: job_listing, local: true) do |form| %>
  <% if job_listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_listing.errors.count, "error") %> prohibited this job_listing from being saved:</h2>
      <ul>
        <% job_listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-input", placeholder: "Senior Software Engineer" %>
  </div>
  <div class="form-group">
    <%= form.label :salary, class: "form-label" %>
    <%= form.text_field :salary, class: "form-input", placeholder: "$100,000" %>
  </div>
  <div class="form-group">
    <%= form.label :location, class: "form-label" %>
    <%= form.text_field :location, class: "form-input", placeholder: "NYC" %>
  </div>
  <ul class="tab">
    <li class="tab-item">
      <a id="write-description-tab" class="active" href="#">Write</a>
    </li>
    <li class="tab-item">
      <a id="preview-description-tab" href="#">Preview</a>
    </li>
  </ul>
  <div class="form-group">
    <%= form.label :description, 'Description (markdown format)', class: "form-label" %>
    <%= form.text_area :description, id: "write-description", class: "form-input", placeholder: "Seeking a Senior Level Developer..." %>
  </div>
  <div id="preview-description" class="d-none"></div>
  <div class="submit">
    <%= submit_tag form.object.new_record? ? 'Create Listing' : 'Update Listing', class: 'btn btn-primary' %>
  </div>
<% end %>
