<div class="card s-rounded mb-2 mt-2">
  <div class="card-header">
    <%= link_to job_listing_path(job_listing) do %>
      <span class="text-bold"><%= presenter.title(job_listing) %></span> - <%= presenter.salary(job_listing) %>
    <% end %>
  </div>
  <div class="card-body">
    <span class="employer">
      <%= image_tag avatar_url(job_listing.employer), class: "avatar avatar-lg mr-1", alt: presenter.employer_name(job_listing), title: presenter.employer_name(job_listing) %>
      <%= presenter.employer_name(job_listing) %> - 
      <%= presenter.location(job_listing) %>
    </span>
  </div>
  <div class="card-footer">
    <%= link_to 'View Full Listing', job_listing_path(job_listing), class: 'btn btn-primary' %>
  </div>
</div>
