<div class="columns">
  <div class="sort col-12">
    <button class="btn btn-link">Sort Jobs by Salary</button>
  </div>
  <div class="joblistings col-12">
    <% @job_listings.each do |job_listing| %>
      <div class="card s-rounded mb-2">
        <div class="card-header">
          <%= link_to job_listing_path(job_listing) do %>
            <span class="text-bold"><%= job_listing.title %></span> - <%= job_listing.salary %>
          <% end %>
          <div class="employer avatar"><img src="<%="/images/logo#{(1..6).to_a.shuffle.first}.jpeg"%>" /></div>
        </div>
        <div class="card-body">
          <div class="location mb-2"><%= job_listing.location %></div>
          <div class="description"><%= job_listing.description %></div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">View Full Listing</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
