<%= render 'search' %>
<div class="columns">
  <div class="joblisting col-12">
    <span class="text-bold h3"><%= presenter.title %></span>
    <span> - </span>
    <span class="h4"><%= presenter.salary %></span>
    <div class="employer-info mt-2">
      <span class="employer h5">
        <%= image_tag avatar_url(presenter.job_listing.employer), class: "avatar avatar-lg", alt: presenter.employer_name, title: presenter.employer_name %>
        <%= presenter.employer_name %> - 
        <%= presenter.location %>
      </span>
    </div>
    <div class="description mt-2">
      <%= presenter.description %>
    </div>
    <% if presenter.has_contact_url? %>
      <%= link_to 'Apply Now', presenter.contact_url, class: 'btn btn-primary' %>
    <% else %>
      <%= mail_to presenter.contact_email, 'Apply Now', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
