<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job_listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_listing.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job_listing.location %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job_listing.salary %>
</p>

<%= link_to 'Edit', edit_job_listing_path(@job_listing) %> |
<%= link_to 'Back', job_listings_path %>
