<div class="columns">
  <div class="joblisting col-12">
    <span class="text-bold h3"><%= @job_listing.title %></span>
    <span> - </span>
    <span class="h4"><%= @job_listing.salary %></span>
    <div class="employer-info mt-2">
      <span class="employer h5">
        <img class="avatar" src="<%="/images/logo#{(1..6).to_a.shuffle.first}.jpeg"%>" />
        <%= @job_listing.employer_name %> - 
        <%= @job_listing.location %>
      </span>
    </div>
    <div class="description mt-2">
      <p><%= @job_listing.description %></p>
    </div>
    <div class="apply btn btn-primary mt-2"><%= link_to 'Apply Now' %></div>
    <div class="back mt-2"><%= link_to 'Back', job_listings_path %></div>
  </div>
</div>
