<%= form_with(model: view.job_listing) do |form| %>
  <%= view.form_group(form, :title) do %>
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-input", placeholder: "Senior Software Engineer" %>
    <%= view.errors_hint_tag(form, :title) %>
  <% end %>
  <%= view.form_group(form, :salary) do %>
    <%= form.label :salary, class: "form-label" %>
    <%= form.text_field :salary, class: "form-input", placeholder: "$100,000" %>
    <%= view.errors_hint_tag(form, :salary) %>
  <% end %>
  <%= view.form_group(form, :location) do %>
    <%= form.label :location, class: "form-label" %>
    <%= form.text_field :location, class: "form-input", placeholder: "NYC" %>
    <%= view.errors_hint_tag(form, :location) %>
  <% end %>
  <div class="form-group">
    <label class="form-label">Preferred Contact Method</label>
    <!-- email -->
    <%= label_tag "contact_method_email", class: "form-radio" do %>
      <%= radio_button_tag 'contact_method', "email", view.show_email_input? %>
      <i class="form-icon"></i> Email
    <% end %>
    <%= form.email_field :contact_email, class: "form-input #{view.show_email_input? ? '' : 'd-none' }"%>
    <%= view.errors_hint_tag_no_field_name(form, :contact_email) %>
    <!-- url -->
    <%= label_tag "contact_method_url", class: "form-radio" do %>
      <%= radio_button_tag 'contact_method', "url", view.show_url_input? %>
      <i class="form-icon"></i> External site
    <% end %>
    <%= form.url_field :contact_url, class: "form-input #{view.show_url_input? ? '' : 'd-none' }", placeholder:"http://" %>
    <%= view.errors_hint_tag_no_field_name(form, :contact_url) %>
  </div>
  <ul class="tab">
    <li class="tab-item">
      <a id="write-description-tab" class="active" href="#">Write</a>
    </li>
    <li class="tab-item">
      <a id="preview-description-tab" href="#">Preview</a>
    </li>
  </ul>
  <%= view.form_group(form, :description) do %>
    <%= form.label :description, 'Description (markdown format)', class: "form-label" %>
    <%= form.text_area :description, id: "write-description", class: "form-input", placeholder: "Seeking a Senior Level Developer..." %>
    <%= view.errors_hint_tag(form, :description) %>
  <% end %>
  <div id="preview-description" class="d-none"></div>
  <div class="submit">
    <%= submit_tag view.submit_button_text, class: 'btn btn-primary' %>
  </div>
<% end %>
