<div class="card s-rounded job-listing" id="<% dom_id(job_listing) %>">
  <div class="card-header">
    <span class="employer">
      <%= link_to job_listing_path(job_listing) do %>
        <span class="text-bold"><%= view.title(job_listing) %></span>
      <% end %>
    </span>
  </div>
  <div class="card-body">
    <div class="pb-4">
      <%= image_tag view.avatar_url(job_listing), class: "avatar avatar-lg mr-1", alt: view.employer_name(job_listing), title: view.employer_name(job_listing) %>
      <%= view.employer_name(job_listing) %>
    </div>
    <div class="py-1">
      <%= view.salary(job_listing) %>
    </div>
    <div class="py-1">
      <%= view.location(job_listing) %>
    </div>
    <div class="pt-1">
      Posted <%= time_ago_in_words(job_listing.created_at) %> ago
    </div>
  </div>
  <div class="card-footer">
    <%= link_to 'View Full Listing', job_listing_path(job_listing, search_text: view.search_text), class: 'btn btn-secondary' %>
  </div>
</div>
