<div class="card s-rounded mb-2 mt-2">
  <div class="card-header">
    <%= link_to job_listing_path(job_listing) do %>
      <span class="text-bold"><%= view.title(job_listing) %></span> - <%= view.salary(job_listing) %>
    <% end %>
  </div>
  <div class="card-body">
    <span class="employer">
      <%= image_tag view.avatar_url(job_listing), class: "avatar avatar-lg mr-1", alt: view.employer_name(job_listing), title: view.employer_name(job_listing) %>
      <%= view.employer_name(job_listing) %> - 
      <%= view.location(job_listing) %>
    </span>
    <div class="my-3">
      Posted <%= time_ago_in_words(job_listing.created_at) %> ago
    </div>
  </div>
  <div class="card-footer">
    <%= link_to 'Update Listing', edit_job_listing_path(job_listing), class: 'btn btn-secondary' %>
    <%= link_to 'View Listing', job_listing_path(job_listing), class: 'btn' %>
    <%= link_to 'Delete Listing', job_listing_path(job_listing), method: :delete, class: 'btn btn-link ml-3', data:{ confirm: 'Are you sure you want to delete this listing?' } %>
  </div>
</div>
