<%= render partial: "search", locals: {search_text: view.search_text} %>
<div class="columns">
  <div class="sort col-12 text-center">
    <% if view.sortcolumn != 'salary' %>
      <%= link_to 'Sort Jobs by Salary', job_listings_path(search: view.search_text, sortcolumn: 'salary') %>
    <% else %>
      <%= link_to 'Sort Jobs by Newest', job_listings_path(search: view.search_text) %>
    <% end %>
  </div>
  <div class="joblistings col-12">
    <% if view.job_listings? %>
      <%= render view.job_listings %>
      <%== view.pagination_nav %>
    <% else %>
      <%= render 'no_search_results' %>
    <% end %>
  </div>
</div>
