<div class="text-center mb-2 h4">
  Find your next great job
</div>
<%= render partial: "search", locals: {search_text: view.search_text} %>
<div class="columns">
  <div class="sort col-12 text-center">
    <% if view.filtering_by_employer? %>
      <div class="h4 my-2">Showing listings from <%= view.filtering_by_employer_name %></div>
    <% end %>
    <div class="h5 mb-2">
      Sort Jobs by 
    </div>
    <div>
      <%= link_to 'Newest', job_listings_path(search: view.search_text, employer_id: view.filtering_by_employer_id), class: "btn btn-link #{view.active_sort_button('created_at')}" %>
      |
      <%= link_to 'Minimum Salary', job_listings_path(search: view.search_text, employer_id: view.filtering_by_employer_id, sort_column: 'minimum_salary'), class: "btn btn-link #{view.active_sort_button('minimum_salary')}" %>
      |
      <%= link_to 'Maximum Salary', job_listings_path(search: view.search_text, employer_id: view.filtering_by_employer_id, sort_column: 'maximum_salary' ), class: "btn btn-link #{view.active_sort_button('maximum_salary')}" %>
      |
      <%= link_to 'Hourly', job_listings_path(search: view.search_text, employer_id: view.filtering_by_employer_id, sort_column: 'fixed_amount'), class: "btn btn-link #{view.active_sort_button('fixed_amount')}" %>
    </div>
  </div>
  <div class="joblistings col-12">
    <% if view.job_listings? %>
      <%= render view.job_listings %>
      <%== view.pagination_nav %>
    <% else %>
      <%= render 'no_search_results' %>
    <% end %>
  </div>
</div>
