<div class="m-2 p-2 col-9">
  <h3>Forgot your password?</h3>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group my-2">
      <%= f.label :email %>
      <%= f.email_field :email, class:"form-input mt-2", placeholder:"Email", autofocus: true, autocomplete: "email" %>
    </div>
    <div class="actions mt-4">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary mt-2" %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
